---
const { title, subtitle } = Astro.props;
---
<header class="pagehead">
  <div class="container">
    <h1>{title} <span style="color:var(--accent)">.</span></h1>
    {subtitle && <p>{subtitle}</p>}
  </div>
</header>
